---
import Card from "../../components/Card.astro";
---

<div class="container">
  <div class="list">
    <Card classes={["dual-card", "festival-card"]} backgroundPath="/images/mahanakhon.png">
      <h2>5-8 Sep 2025</h2>
      <p>Bangkok, Thailand</p>
    </Card>
    <Card classes={["dual-card", "festival-card"]} backgroundPath="/images/koh-samet.jpg">
      <h2>9-12 Sep 2025</h2>
      <p>Koh Samet, Thailand</p>
    </Card>
  </div>
</div>

<style is:global>
  .festival-card {
    height: 375px !important;
  }
  @media only screen and (max-width: 920px) {
    .festival-card {
      width: 100% !important;
      height: 200px !important;
    }
  }
  .festival-card .background .overlay {
    background-color: rgba(0, 0, 0, 0.4) !important;
  }
</style>