---
import Card from "../../components/Card.astro";
---

<div class="container">
  <div class="list">
    <Card classes={["dual-card"]}>
      <h2>Traditional Room</h2>
      <p>Kizomba, Semba, Tarraxinha, Konpa, Ghetto Zouk.</p>
    </Card>
    <Card classes={["dual-card"]}>
      <h2>Fusion Room</h2>
      <p>Urban Kiz, Tarraxo, Douceur, Afrobeats.</p>
    </Card>
  </div>
</div>

<style>
  h2 {
    margin-bottom: 0.75rem;
  }
</style>