---
import Layout from "../../layouts/Layout.astro";
import Header from "../../sections/Header.astro";
import Footer from "../../sections/Footer.astro";
import Card from "../../components/Card.astro";

Astro.cookies.set("STAFF_AUTH_TOKEN", 'ab65bb3c-80e5-463b-8097-57bd0593da43', { path: '/'})
---

<Layout title="Staff Login | Afrokiz Bkk Festival Edition 2">
  <Header />
  <main>
    <div class="grid">
      <Card classes={["staff-check"]}>
        <p>You are logged in.</p>
      </Card>
    </div>
  </main>
  <Footer />
</Layout>

<style is:global>
  .staff-check {
    grid-column: span 12;
    padding: var(--lg-padding);
    min-height: 50vh;
  }
  .staff-check .text {
    display: flex;
    flex-direction: column;
    gap: var(--grid-lg-gap);
    text-align: center;
  }
</style>