---
import Card from "../../components/Card.astro";
---

<div class="container">
    <Card classes={["festival-card intro"]}>
      <video loop autoplay playsinline muted>
        <h1>AfroKiz Bangkok Festival Edition 2</h1>
        <source src="https://d3evtkvyiaiw3n.cloudfront.net/afrokiz3.mp4" type="video/mp4">
      </video>
    </Card>
    <Card classes={["festival-card", "key-metrics"]} backgroundPath="/images/afro-anim.jpg">
      <h2>100% Kizomba During 8 Days</h2>
      <p>Last edition 300+ dancers joined us in Bangkok. Afrokiz Edition 3 will happen in Bangkok and Koh Samet island.</p>
    </Card>
    <Card classes={["festival-card", "artists"]} backgroundPath="/images/room3.png">
      <h2>1 Room, All Styles</h2>
      <p>Kizomba, Semba, Urban Kiz, Tarraxo, Tarraxinha, Konpa, Ghetto Zouk, Douceur, Afrobeats.</p>
    </Card>
</div>

<style is:global>
  .container {
    display: grid;
    grid-template-areas: 
      "intro intro intro intro intro intro intro key-metrics key-metrics key-metrics key-metrics key-metrics"
      "intro intro intro intro intro intro intro artists artists artists artists artists";
  }
  .festival-card {
    min-height: var(--card-m-height);
  }
  .festival-card .text {
    padding: var(--lg-padding);
  }
  .card.intro {
    min-height: var(--card-lg-height);
    grid-area: intro;
    padding: 0;
    overflow: hidden;
  }
  .card.intro .text {
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .card.intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .card.artists {
    width: 100%;
    grid-area: artists;
  }
  .card.key-metrics {
    width: 100%;
    grid-area: key-metrics;
  }
  @media only screen and (max-width: 920px) {
    .container {
      display: grid;
      grid-template-areas: 
        "intro intro intro intro intro intro intro intro intro intro intro intro"
        "key-metrics key-metrics key-metrics key-metrics key-metrics key-metrics artists artists artists artists artists artists";
    }
    .card.intro {
      min-height: 300px;
    }
  }
  .festival-card .background .overlay {
    background-color: rgba(0, 0, 0, 0.4) !important;
  }
</style>