---
import Currency from "../Currency.vue";
---

<header class="grid">
  <div class="container">
    <div class="left-side">
    <a href="/bali"><img class="logo" src="/images/logo.png" /></a>
    <p class="feat">X</p>
    <img class="balilogo" src="/images/connectionbali.png" />
  </div>
    <div class="right-side">
      <div><a href="/my-order" class="button action header">My Order</a></div>
      <!-- <Language client:only /> -->
      <!-- <div class="currency"> -->
        <Currency client:only />
      <!-- </div> -->
      <div><a href="/bali/#tickets" class="button action">Tickets</a></div>
    </div>
  </div>
</header>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
    padding-top: var(--m-padding) !important;
    grid-column: span 12;
    overflow: hidden;
  }
  .feat {
    color: white; 
    font-size: 1.4rem;
  }
  .balilogo {
    height: 80px;
  }
  .logo {
    cursor: pointer;
    height: 130px;
  }
  .left-side {
    display: flex;
    flex-direction: row;
    gap: var(--grid-m-gap);
    align-items: center;
    justify-content: center;
  }
  .right-side {
    display: flex;
    flex-direction: row;
    gap: var(--grid-lg-gap);
    align-items: center;
    justify-content: center;
  }
  .currency {
    font-weight: bold;
    color: var(--text-primary-color);
    display: flex;
    flex-direction: column;
    gap: .375rem;
  }
  @media only screen and (max-width: 920px) {
    .right-side {
      gap: var(--grid-s-gap);
    }
    .logo {
      cursor: pointer;
      height: 60px;
    }
    .balilogo {
      height: 40px;
    }
    .feat {
      color: white; 
      font-size: 0.8rem;
    }
    .button.header {
      padding: 0 !important;
    }
  }
</style>
