---
import { theme } from '../data/theme'
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Join us in September 5-7, 2025 for AfroKiz Bangkok Edition 3 where you will enjoy dancing and experience Bangkok in another dimension!">
    <meta name="keywords" content="Afrokiz, Bangkok, Thailand, Kizomba, Semba, Urban Kiz, Tarraxo, Tarraxinha, Konpa, Ghetto Zouk, Douceur, Afrobeats">
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="https://afrokiz-assets.s3.ap-southeast-1.amazonaws.com/cover.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1080">
    <meta property="og:image:height" content="1920">
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="https://kit.fontawesome.com/dd9e4b496c.js" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YM40LJJ3PX"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YM40LJJ3PX');
    </script>
  </head>
  <body id={theme()}>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --primary-very-dark-color: black;
    --primary-darker-color: #12091d;
    --primary-color: #371b58;
    --secondary-color: #ef2d56;
    --success-color: #32ac3c;
    --tertiary-color: #ed7d3a;
    --text-primary-color: white;
    --text-secondary-color: rgb(218, 218, 218);
    --background-color: var(--primary-color);
    --grid-side-padding: 7rem;
    --lg-padding: 3rem;
    --card-lg-height: 500px;
    --lg-height: 500px;
    --m-padding: 2rem;
    --s-padding: 1.5rem;
    --xs-padding: 0.8rem;
    --card-m-height: 250px;
    --card-s-height: 160px;
    --grid-lg-gap: 2rem;
    --grid-m-gap: 1.5rem;
    --grid-s-gap: 1rem;
    --grid-xs-gap: 0.75rem;
    --text-font-size: 1rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;
  }
  html {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    background: var(--background-color);
  }
  body {
    display: flex;
    flex-direction: column;
    gap: var(--grid-lg-gap);
    margin: 0;
    background: var(--background-color);
    font-size: var(--text-font-size);
  }
  main {
    display: flex;
    flex-direction: column;
    gap: var(--grid-lg-gap);
  }
  .button.action {
    text-decoration: none;
    color: var(--text-primary-color);
    border: none;
    border-radius: 2rem;
    background-color: var(--secondary-color);
    padding: calc(var(--s-padding) * 0.8) var(--s-padding);
    font-size: calc(var(--h4-font-size) * 0.8);
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.15s ease;
    cursor: pointer;
  }
  .button.action.disabled {
    background-color: gray;
    cursor:initial;
  }
  .button.action:hover {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow:
      0 10px 18px #14141782,
      0 5px 9px #00000014;
  }
  .button.action.header {
    background-color: transparent;
  }
  .button.action.header:hover {
    -webkit-transform: none;
    transform: none;
    box-shadow: none;
  }
  .arrow:after {
    font-size: 0.9rem;
    font-family: arial;
    font-weight: 100;
    content: "\279C";
    padding-left: 5px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--grid-lg-gap);
    padding: 0 var(--grid-side-padding);
  }
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
  }
  h1 {
    font-size: var(--h1-font-size);
  }
  h2 {
    font-size: var(--h2-font-size);
  }
  h3 {
    font-size: var(--h3-font-size);
  }
  h4 {
    font-size: var(--h4-font-size);
  }
  .form-control {
    width: 100%;
    padding: .175rem .55rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
  }
  .el-switch,
.el-switch-style,
.el-switch-style:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.el-switch {
  display: inline-block;
  font-size: 100%;
  height: 1.6em;
  position: relative;
}
.el-switch .el-switch-style {
  height: 1.6em;
  left: 0;
  background: #a5a5a5;
  -webkit-border-radius: 0.8em;
  border-radius: 0.8em;
  display: inline-block;
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 3em;
  cursor: pointer;
}
.el-switch .el-switch-style:before {
  display: block;
  content: '';
  height: 1.4em;
  position: absolute;
  width: 1.4em;
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: 0.1em;
  top: 0.1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.el-switch > input[type="checkbox"] {
  display: none;
}
.el-switch > input[type="checkbox"]:checked + .el-switch-style {
  background-color: #8f2dff;
}
.el-switch > input[type="checkbox"]:checked + .el-switch-style:before {
  left: 50%;
}
.field {
  border: 1px solid rgb(230, 230, 230);
  padding: 0.75rem;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.button .loader {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  top: -2px;
  position: relative;
}

.steplist {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 1rem;
  overflow: hidden;
  text-align: center;
}

.steplist::before {
  position: absolute;
  top: 28px;
  right: 65px;
  left: 65px;
  content: "";
  background-color: #d8d8d8;
  height: 1px;
  z-index: -1;
}

.steplist .installment {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.steplist .circle-container {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  border-radius: 50%;
  height: 26px;
  width: 26px;
}

.steplist .circle {
  display: inline-block;
  border-radius: 50%;
  background-color: gray;
  height: 18px;
  width: 18px;
}

.circle-blue {
  background: rgba(0, 29, 191, 0.3);
}

.circle-blue .circle {
  background-color: #0e62df;
}

.circle-green {
  background: rgba(0, 191, 121, 0.3);
}

.circle-green .circle {
  background-color: #00bf79;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#valentine {
  --background-color: rgb(245, 144, 163);
  --primary-darker-color: rgb(120, 63, 73);
  --primary-very-dark-color: rgb(52, 28, 33);
  --success-color: var(--primary-very-dark-color);
}
/* #valentine .card {
  border: 5px solid pink;
} */

/* --mobile-max-width: 576px;
    --screen-medium-width: 776px;
    --screen-large-width: 992px; */

@media only screen and (min-width: 920px) and (max-width: 1180px) {
  :root {
    --grid-side-padding: 1rem;
    --grid-lg-gap: 1.75rem;
    --lg-padding: 2rem;
    --m-padding: 1rem;
  }
}
@media only screen and (max-width: 920px) {
  :root {
    --grid-side-padding: 1rem;
    --grid-lg-gap: 1.25rem;
    --grid-m-gap: 0.75rem;
    --grid-s-gap: 0.5rem;
    --lg-padding: 1.5rem;
    --m-padding: 0.75rem;
    --s-padding: 0.75rem;
    --card-lg-height: 400px;
    --card-m-height: 200px;
    --lg-height: 350px;
    --text-font-size: 0.8rem;
    --h1-font-size: 1.4rem;
    --h2-font-size: 1.2rem;
    --h3-font-size: 1.1rem;
    --h4-font-size: 0.9rem;
  }
  .steplist {
    padding-left: 0;
    padding-right: 0;
  }
  .steplist::before {
    right: 60px;
    left: 60px;
  }
}
</style>
