---
import Layout from "../../layouts/Layout.astro";
import Header from "../../sections/Header.astro";
import Footer from "../../sections/Footer.astro";
import TicketForm from "../../components/TicketForm.vue";
import { passes } from "../../data/promotion";
---

<Layout title={`${passes.satSun.name} | Afrokiz Bkk Festival Edition 2`}>
  <Header />
  <main>
    <TicketForm client:load pass={passes.satSun} />
  </main>
  <Footer />
</Layout>