---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../sections/bali/Header.astro";
import Footer from "../../../sections/Footer.astro";
import TicketForm from "../../../components/TicketForm.vue";
import { defaultPasses } from "../../../data/bali/pass";
---

<Layout title={`${defaultPasses.sametPass.name} | Afrokiz Bkk Festival Edition 3`}>
  <Header />
  <main>
    <TicketForm client:load pass={defaultPasses.sametPass} />
  </main>
  <Footer />
</Layout>