---
import Layout from "../../layouts/Layout.astro";
import Header from "../../sections/Header.astro";
import Footer from "../../sections/Footer.astro";
import Card from "../../components/Card.astro";
import { PaymentAPI } from "../../payment-api/payment.api";

const queryParams = Astro.url.searchParams
const email = queryParams.get('email')
const fullname = queryParams.get('fullname')
if (!email || !fullname) {
  return Astro.redirect('/guests')
}
const paymentApi = new PaymentAPI()
await paymentApi.preRegister({ email, fullname })
---

<Layout title="Guests Pre Registration | Afrokiz Bkk Festival Edition 2">
  <Header />
  <main>
    <div class="grid">
      <Card classes={["find-order"]}>
        <div class="content">
          <div class="description">
            <h1>Thank you for your support!</h1>
            <p>Please contact us if you haven't receive a confirmation email in the next hour.</p>
          </div>
        </div>
      </Card>
    </div>
  </main>
  <Footer />
</Layout>

<style is:global>
  .find-order {
    grid-column: span 12;
    align-items: center !important;
    justify-content: center !important;
    padding: var(--lg-padding);
    min-height: 540px;
  }
  .find-order .text {
    width: 100%;
  }
  .find-order .grid {
    padding: 0;
  }
</style>

<style>
  .content {
    display: flex;
    flex-direction: row;
    gap: var(--grid-lg-gap);
    align-items: center;
    justify-content: center;
  }
  .content > * {
    padding: var(--lg-padding);
  }
  .description {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--grid-m-gap);
  }
  .field-container {
    display: flex;
    flex-direction: row;
    gap: var(--grid-m-gap);
    margin-top: 0.5rem;
  }
  .information-element {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .information-element button {
    margin-top: 1rem;
  }
  form > * {
    margin-bottom: 0.5rem;
  }
  @media only screen and (max-width: 920px) {
    .content {
      flex-direction: column;
    }
    .description {
      width: 80%;
    }
  }
</style>