---
import Card from "../components/Card.astro";
---

<div class="container">
    <Card classes={["key-metric-card"]}>
      <p>100% Kizomba</p>
      <Card classes={["key-metric-card"]} backgroundPath="/images/dancing.jpg" />
    </Card>
    <Card classes={["key-metric-card"]}>
      <p>1 Week Dancing</p>
      <Card classes={["key-metric-card"]} backgroundPath="/images/beach2.png" />
    </Card>
    <Card classes={["key-metric-card"]}>
      <p>350+ dancers</p>
      <Card classes={["key-metric-card"]} backgroundPath="/images/room3.png" />
    </Card>
    <Card classes={["key-metric-card"]}>
      <p>1 Room All Styles</p>
      <Card classes={["key-metric-card"]} backgroundPath="/images/zouk.jpg" />
    </Card>
</div>

<style>
  .container {
    position: relative;
    top: -70px;
    z-index: 1;
  }
  .list {
    grid-template-columns: repeat(12, 1fr);
  }
</style>

<style is:global>
  .key-metric-card {
    grid-column: span calc(12 / 2);
    border-radius: 16px !important;
    padding: 0.75rem;
    font-weight: bold;
  }
  .key-metric-card > .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .key-metric-card .background {
    border-radius: 16px !important;
  }
  .key-metric-card .key-metric-card {
    aspect-ratio: 4 / 3;
    border-radius: 8px !important;
    padding: 0;
  }
  .key-metric-card .key-metric-card .background {
    border-radius: 8px !important;
  }
  .key-metric-card .key-metric-card .background .overlay {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  @media only screen and (min-width: 920px) {
    .key-metric-card {
      grid-column: span calc(12 / 4);
    }
  }
</style>