<div class="video">
  <div class="overlay" />
  <video loop autoplay playsinline muted>
    <h1>AfroKiz Bangkok Festival Edition 3</h1>
    <source src="https://afrokiz-assets.s3.ap-southeast-1.amazonaws.com/afrokiz.edition3.mp4" type="video/mp4">
  </video>
</div>

<style>
  .video {
    height: calc(var(--video-size) - 100px);
  }
  video {
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--video-size);
    object-fit: cover;
    z-index: 0;
  }
  .overlay {
    position: absolute;
    background-color: rgba(55, 27, 88, 0.4);
    width: 100%;
    height: var(--video-size);
    top: 0;
    z-index: 1;
  }
</style>