---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import Footer from "../sections/Footer.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <div class="grid">
      <Card classes={["help-content"]}>
        <div id="transfer" class="container">
          <h2 class="question">How to transfer my ticket?</h2>
          <p class="answer">Elit dolor id laboris veniam aute deserunt esse. Incididunt occaecat velit magna commodo officia ex ex cillum. Magna nisi sint labore minim laborum consequat ullamco minim quis anim veniam eiusmod incididunt culpa. Proident magna nulla reprehenderit aliqua incididunt magna adipisicing ipsum labore anim Lorem aute. Laborum commodo velit do amet incididunt quis amet irure irure deserunt nisi.</p>
        </div>
        <div id="confirmation" class="container">
          <h2 class="question">I haven't received my confirmation booking</h2>
          <p class="answer">Elit dolor id laboris veniam aute deserunt esse. Incididunt occaecat velit magna commodo officia ex ex cillum. Magna nisi sint labore minim laborum consequat ullamco minim quis anim veniam eiusmod incididunt culpa. Proident magna nulla reprehenderit aliqua incididunt magna adipisicing ipsum labore anim Lorem aute. Laborum commodo velit do amet incididunt quis amet irure irure deserunt nisi.</p>
        </div>
        <div id="payment" class="container">
          <h2 class="question">My payment has issues</h2>
          <p class="answer">Elit dolor id laboris veniam aute deserunt esse. Incididunt occaecat velit magna commodo officia ex ex cillum. Magna nisi sint labore minim laborum consequat ullamco minim quis anim veniam eiusmod incididunt culpa. Proident magna nulla reprehenderit aliqua incididunt magna adipisicing ipsum labore anim Lorem aute. Laborum commodo velit do amet incididunt quis amet irure irure deserunt nisi.</p>
        </div>
        <div id="hotel" class="container">
          <h2 class="question">What hotel is recommended?</h2>
          <p class="answer">Elit dolor id laboris veniam aute deserunt esse. Incididunt occaecat velit magna commodo officia ex ex cillum. Magna nisi sint labore minim laborum consequat ullamco minim quis anim veniam eiusmod incididunt culpa. Proident magna nulla reprehenderit aliqua incididunt magna adipisicing ipsum labore anim Lorem aute. Laborum commodo velit do amet incididunt quis amet irure irure deserunt nisi.</p>
        </div>
      </Card>
    </div>
  </main>
  <Footer />
</Layout>

<style is:global>
  .help-content {
    grid-column: span 12;
    align-items: start !important;
    justify-content: start !important;
    padding: var(--lg-padding);
  }
  .help-content .text {
    display: flex;
    flex-direction: column;
    gap: var(--grid-lg-gap);
  }
</style>

<style>
  .container {
    border-radius: 20px;
    background-color: black;
    padding: var(--lg-padding);
    display: flex;
    flex-direction: column;
    gap: var(--grid-m-gap);
  }
  .question {}
  .answer {}
</style>