<div class="video">
  <div class="overlay"></div>
  <div class="videoContainer">
    <img src="/images/afrokiz4.jpg" style="height: 100%; width: 100%; object-fit: cover" />
  </div>
</div>

<style>
  .video {
    height: calc(var(--video-size) - 100px);
  }
  video,
  .videoContainer {
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--video-size);
    object-fit: cover;
    z-index: 0;
  }
  .overlay {
    position: absolute;
    background-color: rgba(55, 27, 88, 0.5);
    width: 100%;
    height: var(--video-size);
    top: 0;
    z-index: 1;
  }
  @media only screen and (min-width: 920px) {
    .video {
      height: calc(var(--video-size) - 220px);
    }
  }
</style>
