<footer class="grid">
  <ul class="location">
    <li>© 2024 AfroKiz</li>
    <li>
      <a href="https://maps.app.goo.gl/deTHk2Euinkho3Pq6"
        >GLOWFISH 92/4, Floor 2, Sathorn Thani 2 Building,<br />North Sathorn
        Road, Silom, Bang Rak,<br />Bangkok 10500</a
      >
    </li>
  </ul>
  <div class="right-list">
    <div>
      <h3>Help</h3>
      <ul class="help">
        <li><a href="mailto:help@afrokiz.com">Contact Us</a></li>
        <li><a href="/help#transfer">How to transfer my ticket?</a></li>
        <li>
          <a href="/help#confirmation"
            >I haven't received my confirmation booking</a
          >
        </li>
        <li><a href="/help#payment">My payment has issues</a></li>
        <li><a href="/help#hotel">What hotel is recommended?</a></li>
      </ul>
    </div>
    <div>
      <h3>Social</h3>
      <ul class="social">
        <li>
          <a href="https://www.facebook.com/afrokizbkk">Facebook</a>
        </li>
        <li><a href="https://www.instagram.com/afrokizbkk/">Instagram</a></li>
      </ul>
    </div>
  </div>
</footer>

<style scoped>
  footer {
    color: var(--text-secondary-color);
    display: flex;
    flex-direction: row;
    gap: var(--grid-lg-gap);
    justify-content: space-between;
    background-color: var(--primary-darker-color);
    /* margin-top: var(--lg-padding); */
    padding-top: var(--lg-padding);
    padding-bottom: var(--lg-padding);
  }
  .right-list {
    display: flex;
    flex-direction: row;
    gap: var(--grid-lg-gap);
  }
  a {
    text-decoration: underline;
    font-weight: bold;
    color: var(--text-secondary-color);
  }
  h3 {
    color: var(--text-primary-color);
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin-bottom: 0.5rem;
  }
  .location {
    justify-self: flex-start;
  }
</style>
