---
import Currency from "./Currency.vue";
---

<header class="grid">
  <div class="container">
    <a href="/"><img class="logo" src="/images/logo.png" /></a>
    <div class="right-side">
      <!-- <Language client:only /> -->
      <!-- <div class="currency"> -->
        <Currency client:only />
      <!-- </div> -->
      <div><a href="/#tickets" class="button action">Tickets</a></div>
    </div>
  </div>
</header>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--lg-padding) 0;
    grid-column: span 12;
  }
  .logo {
    cursor: pointer;
    height: 70px;
  }
  .right-side {
    display: flex;
    flex-direction: row;
    gap: var(--grid-lg-gap);
    align-items: center;
    justify-content: center;
  }
  .currency {
    font-weight: bold;
    color: var(--text-primary-color);
    display: flex;
    flex-direction: column;
    gap: .375rem;
  }
  @media only screen and (max-width: 920px) {
    .right-side {
      gap: var(--grid-m-gap);
    }
  }
</style>
