---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import Footer from "../sections/Footer.astro";
import Card from "../components/Card.astro";

const queryParams = Astro.url.searchParams
const email = queryParams.get('email')
const fullname = queryParams.get('fullname')
---

<Layout title="Guests Pre Registration | Afrokiz Bkk Festival Edition 2">
  <Header />
  <main>
    <div class="grid">
      <Card classes={["find-order"]}>
        <div class="content">
          <div class="description">
            <h1>Guests Pre-Registration</h1>
            <p>Thank you for supporting our event. We want to ensure your experience at our festival is as comfortable as possible. To make your registration at the venue smooth and fast, we kindly ask for a few details.</p>
            <p>After your registration you will receive a QR Code by email that you should use when you register.</p>
          </div>
          <div>
            <form class="information-element" action="/guests/registration" method="get">
              <div>
                <label>Email</label>
                <div class="field-container">
                  <input type="email" class="field" placeholder="promoter@example.com" name="email" />
                </div>
              </div>
              <div>
                <label>Name</label>
                <div class="field-container">
                  <input class="field" placeholder="John Doe" name="fullname" />
                </div>
              </div>
              <button class="button action">Register</button>
            </form>
          </div>
        </div>
      </Card>
    </div>
  </main>
  <Footer />
</Layout>

<style is:global>
  .find-order {
    grid-column: span 12;
    align-items: center !important;
    justify-content: center !important;
    padding: var(--lg-padding);
    min-height: 540px;
  }
  .find-order .text {
    width: 100%;
  }
  .find-order .grid {
    padding: 0;
  }
</style>

<style>
  .content {
    display: flex;
    flex-direction: row;
    gap: var(--grid-lg-gap);
    align-items: center;
    justify-content: center;
  }
  .content > * {
    padding: var(--lg-padding);
  }
  .description {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--grid-m-gap);
  }
  .field-container {
    display: flex;
    flex-direction: row;
    gap: var(--grid-m-gap);
    margin-top: 0.5rem;
  }
  .information-element {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .information-element button {
    margin-top: 1rem;
  }
  form > * {
    margin-bottom: 0.5rem;
  }
  @media only screen and (max-width: 920px) {
    .content {
      flex-direction: column;
    }
    .description {
      width: 80%;
    }
  }
</style>