---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/edition3/Header.astro";
import Footer from "../sections/Footer.astro";
import Card from "../components/Card.astro";
---

<Layout title="Help Center | Afrokiz Bkk Festival Edition 3">
  <Header />
  <main>
    <div class="grid">
      <Card classes={["help-content"]}>
        <div id="transfer" class="container">
          <h2 class="question">How to transfer my ticket?</h2>
          <p class="answer">
            All tickets purchased for Afrokiz Festival are non-transferable. This means that once a ticket is purchased, it cannot be transferred to another individual under any circumstances.
            <br />
            <br />Ticket holders will be required to present valid identification matching the name on the ticket upon entry to the festival venue. This verification process is in place to maintain the integrity of the event and ensure the security of all attendees.
          </p>
        </div>
        <div id="hotel" class="container">
          <h2 class="question">What hotel is recommended?</h2>
          <p class="answer">
            Residence Hotel Silom (close to the venue):
            <br />Address: 93/1 Soi Thian Siang, Surawong Road, Si Phaya, Bang Rak, Bangkok
            <br />Website: <a href="https://www.iresidencehotel.com/silom" target="_blank">I-Residence Hotel Silom</a>
            <br />
            <br />Holiday Inn Express Bangkok Sathorn, an IHG Hotel (best price):
            <br />Address: 51 Soi Pipat, Silom, Bangrak, Bangkok
            <br />Website: <a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/bangkok/bkkss/hoteldetail" target="_blank">Holiday Inn Express Bangkok Sathorn</a>
            <br />
            <br />Haven't Met Bangkok Silom by Cross Collection (4-star hotel):
            <br />Address: 14/20 Silom Soi 2, Suriya Wong, Bang Rak, Bangkok
            <br />Website: <a href="https://www.haventmet.com/silom" target="_blank">Haven't Met Bangkok Silom</a>
            <br />
            <br />FuramaXclusive Sathon Hotel (4-star hotel):
            <br />Address: 59 Silom Soi 3 (Piphat 2), Silom Road, Bangrak, Bangkok
            <br />Website: <a href="https://www.furamaxclusive.com/sathon/" target="_blank">FuramaXclusive Sathon Hotel</a>
            <br />
            <br />The Heritage Bangkok:
            <br />Address: 198 Soi Narathivas 3, Narathivas Road, Silom, Bangrak, Bangkok
            <br />Website: <a href="http://www.theheritagebangkok.com/" target="_blank">The Heritage Bangkok</a>
            <br />
            <br />Please note that the proximity of these hotels to the Afrokiz Festival venue and the availability of rooms may be subject to change. It is advisable to check the hotel websites or contact them directly for the most up-to-date information and to make reservations based on your preferences and requirements.
          </p>
        </div>
        <div id="confirmation" class="container">
          <h2 class="question">I haven't received my confirmation booking</h2>
          <p class="answer">
            ▶︎ Check Spam or Junk Folders:
            <br />
            <br />If you have not received your confirmation email within a reasonable timeframe, please check your spam or junk folders. Sometimes, legitimate emails may be filtered by email providers.
            <br />
            <br />▶︎ Incorrect Email Address:
            <br />
            <br />Ensure that the email address provided during the booking process is accurate. If there is a mistake in the email address, please contact our customer support team at <a href="mailto:afrokiz.bkk@gmail.com">afrokiz.bkk@gmail.com</a> to rectify the issue.
            <br />
            <br />▶︎ Resending Confirmation Emails:
            <br />
            <br />If you are unable to locate your confirmation email, or if you need it resent, please contact our customer support team, and we will be happy to assist you. Reach out to us at <a href="mailto:afrokiz.bkk@gmail.com">afrokiz.bkk@gmail.com</a> with your name and booking details.
          </p>
        </div>
        <div id="payment" class="container">
          <h2 class="question">My payment has issues</h2>
          <p class="answer">
            ▶︎ Payment Discrepancies
            <br />
            <br />In the event of any discrepancies or issues related to your payment, please contact our customer support team at <a href="mailto:afrokiz.bkk@gmail.com">afrokiz.bkk@gmail.com</a> as soon as possible. Provide detailed information about the issue, including your name, order ID, and a description of the problem.
            <br />
            <br />▶︎ Failed Transactions
            <br />
            <br />If your payment transaction fails, please double-check the payment details entered and ensure that your payment method is valid. If the issue persists, contact your financial institution or payment provider for assistance. Our customer support team is available to guide you through the process.
            <br />
            <br />▶︎ Refund Policy
            <br />
            <br />Refunds for ticket purchases will only be considered under exceptional circumstances and in accordance with our refund policy. Requests for refunds due to payment issues must be submitted in writing to <a href="mailto:afrokiz.bkk@gmail.com">afrokiz.bkk@gmail.com</a> within 7 days of the failed transaction.
          </p>
        </div>
      </Card>
    </div>
  </main>
  <Footer />
</Layout>

<style is:global>
  .help-content {
    grid-column: span 12;
    align-items: start !important;
    justify-content: start !important;
    padding: var(--lg-padding);
  }
  .help-content .text {
    display: flex;
    flex-direction: column;
    gap: var(--grid-lg-gap);
  }
  .help-content .grid {
    padding: 0;
  }
</style>

<style>
  a {
    color: white;
    font-weight: bold;
  }
  .container {
    border-radius: 20px;
    background-color: var(--primary-very-dark-color);
    padding: var(--lg-padding);
    display: flex;
    flex-direction: column;
    gap: var(--grid-m-gap);
  }
  .question {}
  .answer {}
</style>