---
import Layout from '../layouts/Layout.astro'
import Header from '../sections/edition3/Header.astro'
import Footer from '../sections/Footer.astro'
import Card from '../components/Card.astro'
---

<Layout title="Help Center | Afrokiz Bkk Festival Edition 3">
  <Header />
  <main>
    <div class="grid">
      <Card classes={['help-content']}>
        <div id="transfer" class="container">
          <h2 class="question">How to transfer my ticket?</h2>
          <p class="answer">
            All tickets purchased for Afrokiz Festival are non-transferable. This means that once a ticket is purchased,
            it cannot be transferred to another individual under any circumstances.
            <br />
            <br />Ticket holders will be required to present valid identification matching the name on the ticket upon
            entry to the festival venue. This verification process is in place to maintain the integrity of the event
            and ensure the security of all attendees.
          </p>
        </div>
        <div id="installment" class="container">
          <h2>3-Month Installment Plan</h2>
          <p class="answer">
            <b>▶︎ Who is eligible for the installment plan?</b>
            <br />
            <br />Anyone purchasing a festival pass with a minimum total of $160 USD is eligible for the installment
            plan.
            <br />
            <br /><b>▶︎ How does the installment plan work?</b>
            <br />
            <br />- Your total payment is split into three equal installments.
            <br />- The first installment is charged immediately upon purchase.
            <br />- The second installment is automatically charged on the same date of the following month.
            <br />- The third and final installment is charged on the same date of the third month.
            <br />- There is zero interest on the installment payments.
            <br />
            <br /><b>▶︎ What payment methods are accepted?</b>
            <br />
            <br />We accept credit cards, debit cards, and other online payment methods supported by our payment
            processor.
            <br />
            <br /><b>▶︎ What happens if my payment fails?</b>
            <br />
            <br />If a payment attempt fails:
            <br />
            <br />- We will retry the charge the next day.
            <br />- If the payment still fails, we will attempt again after 3 days and a final attempt after 10 days.
            <br />- If your payment is still unsuccessful, it will be considered a default payment, and we will contact
            you for resolution.
            <br />
            <br /><b>▶︎ Can I transfer my festival pass to someone else?</b>
            <br />
            <br />Yes, but only after completing all three installments.
            <br />
            <br />- There is a $30 USD transfer fee.
            <br />- Transfers must be requested at least 15 days before the event.
            <br />- To initiate the transfer, email us your festival pass confirmation or order number.
            <br />
            <br /><b>▶︎ Can I cancel or modify my installment plan?</b>
            <br />
            <br />No, once enrolled in the installment plan, it cannot be canceled or modified.
            <br />
            <br /><b>▶︎ Is my payment refundable?</b>
            <br />
            <br />No, all payments are non-refundable.
            <br />
            <br />If you fail to complete all three installments, your festival pass may be forfeited, and you will not
            be eligible for any refund or reinstatement.
            <br />
            <br /><b>▶︎ When do I receive my festival pass?</b>
            <br />
            <br />Your festival pass is considered fully paid only after the third installment is successfully
            processed.
            <br />
            <br />You will not have access to the festival until all payments are completed.
            <br />
            <br /><b>▶︎ How can I update my payment method?</b>
            <br />
            <br />If you need to update your payment method, please contact us immediately to ensure successful
            processing of your future installments.
            <br />
            <br /><b>▶︎ What happens if I don’t complete all three installments?</b>
            <br />
            <br />Failure to complete all three installments may result in:
            <br />
            <br />- Pass forfeiture with no refund.
            <br />- Loss of access to the festival.
            <br />- Restrictions on future festival purchases.
          </p>
        </div>
        <div id="confirmation" class="container">
          <h2 class="question">I haven't received my confirmation booking</h2>
          <p class="answer">
            ▶︎ Check Spam or Junk Folders:
            <br />
            <br />If you have not received your confirmation email within a reasonable timeframe, please check your spam
            or junk folders. Sometimes, legitimate emails may be filtered by email providers.
            <br />
            <br />▶︎ Incorrect Email Address:
            <br />
            <br />Ensure that the email address provided during the booking process is accurate. If there is a mistake
            in the email address, please contact our customer support team at <a href="mailto:afrokiz.bkk@gmail.com"
              >afrokiz.bkk@gmail.com</a
            > to rectify the issue.
            <br />
            <br />▶︎ Resending Confirmation Emails:
            <br />
            <br />If you are unable to locate your confirmation email, or if you need it resent, please contact our
            customer support team, and we will be happy to assist you. Reach out to us at <a
              href="mailto:afrokiz.bkk@gmail.com">afrokiz.bkk@gmail.com</a
            > with your name and booking details.
          </p>
        </div>
        <div id="payment" class="container">
          <h2 class="question">My payment has issues</h2>
          <p class="answer">
            ▶︎ Payment Discrepancies
            <br />
            <br />In the event of any discrepancies or issues related to your payment, please contact our customer
            support team at <a href="mailto:afrokiz.bkk@gmail.com">afrokiz.bkk@gmail.com</a> as soon as possible. Provide
            detailed information about the issue, including your name, order ID, and a description of the problem.
            <br />
            <br />▶︎ Failed Transactions
            <br />
            <br />If your payment transaction fails, please double-check the payment details entered and ensure that
            your payment method is valid. If the issue persists, contact your financial institution or payment provider
            for assistance. Our customer support team is available to guide you through the process.
            <br />
            <br />▶︎ Refund Policy
            <br />
            <br />Refunds for ticket purchases will only be considered under exceptional circumstances and in accordance
            with our refund policy. Requests for refunds due to payment issues must be submitted in writing to <a
              href="mailto:afrokiz.bkk@gmail.com">afrokiz.bkk@gmail.com</a
            > within 7 days of the failed transaction.
          </p>
        </div>
      </Card>
    </div>
  </main>
  <Footer />
</Layout>

<style is:global>
  .help-content {
    grid-column: span 12;
    align-items: start !important;
    justify-content: start !important;
    padding: var(--lg-padding);
  }
  .help-content .text {
    display: flex;
    flex-direction: column;
    gap: var(--grid-lg-gap);
  }
  .help-content .grid {
    padding: 0;
  }
</style>

<style>
  a {
    color: white;
    font-weight: bold;
  }
  .container {
    border-radius: 20px;
    background-color: var(--primary-very-dark-color);
    padding: var(--lg-padding);
    display: flex;
    flex-direction: column;
    gap: var(--grid-m-gap);
  }
  .question {
  }
  .answer {
  }
</style>
