---
import Layout from '../layouts/Layout.astro'
import Header from '../edition3/Header.astro'
import ValueProposition from '../edition4/ValueProposition.astro'
import Footer from '../edition4/Footer.astro'
import Membership from '../edition4/Membership.astro'
---

<Layout title="Afrokiz Bkk Festival Edition 4">
  <Header />
  <main>
    <ValueProposition />
    <div id="tickets" class="container">
      <Membership />
    </div>
  </main>
  <Footer />
</Layout>
