---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import Footer from "../sections/Footer.astro";
---

<Layout title='Schedule | Afrokiz Bkk Festival Edition 2'>
  <Header />
  <main>
    <div class="grid">
      <div class="content">
        <h2 id="friday">Friday 6th September, 2024</h2>
        <table>
          <thead>
            <tr>
              <th>Time</th>
              <th>Workshop</th>
              <th>Instructor</th>
              <th>Remark</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>18.00-18.30</td>
              <td colspan="3">Registration</td>
            </tr>
            <tr>
              <td>18.30-19.30</td>
              <td rowspan="2">Special "Ginga Styling" Bootcamp (with video recording)</td>
              <td rowspan="2">Quinn</td>
              <td rowspan="2">
                <div><b>500THB</b></div>
                <div class="caption">VIP & Full Pass Holders</div>
                <div><b>900THB</b></div>
                <div class="caption">Party & Day Pass Holders</div>
              </td>
            </tr>
            <tr>
              <td>19.30-20.30</td>
            </tr>
            <tr>
              <td>20.30-21.30</td>
              <td>Connect 'n Kiz</td>
              <td>David Cohen</td>
              <td></td>
            </tr>
            <tr>
              <td>21.30-22.30</td>
              <td>Urban Kiz (Cross&Touch)</td>
              <td>Heneco</td>
              <td></td>
            </tr>
            <tr>
              <td>22.30-23.00</td>
              <td colspan="2">Party</td>
              <td></td>
            </tr>
            <tr>
              <td>23.00-23.30</td>
              <td colspan="2">Jack & Jill Competition</td>
              <td></td>
            </tr>
            <tr>
              <td>23.30-03.00</td>
              <td colspan="2">Party - "Earthen Elegance" Theme</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <h2 id="saturday">Saturday 7th September, 2024</h2>
        <table>
          <thead>
            <tr>
              <th>Time</th>
              <th>Workshop</th>
              <th>Instructor</th>
              <th>Remark</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>10.15-10.45</td>
              <td colspan="3">Registration</td>
            </tr>
            <tr>
              <td>10.45-11.45</td>
              <td rowspan="2">URBAN KIZ MASTER CLASS (spins, tango influence)</td>
              <td rowspan="2">Heneco</td>
              <td rowspan="2"></td>
            </tr>
            <tr>
              <td>11.45-12.45</td>
            </tr>
            <tr>
              <td>12.45-13.45</td>
              <td>Tarraxo Liquidstyle</td>
              <td>Rvan&Juliette</td>
              <td></td>
            </tr>
            <tr>
              <td>13.45-14.30</td>
              <td colspan="2">Lunch Break (45min)</td>
              <td rowspan="3">Day Time Social (Hall 2)<br />13.30 - 16.30</td>
            </tr>
            <tr>
              <td>14.30-15.30</td>
              <td>Douceur agitée (Conneciton & Micro movement)</td>
              <td>Said&Oksana</td>
            </tr>
            <tr>
              <td>15.30-16.30</td>
              <td>Tarraxinha</td>
              <td>Adrian&Ellie</td>
            </tr>
            <tr>
              <td>16.30-17.30</td>
              <td>Semba</td>
              <td>Oncle Kani</td>
              <td></td>
            </tr>
            <tr>
              <td>18.30-21.30</td>
              <td colspan="2">Dinner Cruise Party</td>
              <td></td>
            </tr>
            <tr>
              <td>22.00-04.00</td>
              <td colspan="2">Party - "Hot Gala Night" Theme</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <h2 id="sunday">Sunday 8th September, 2024</h2>
        <table>
          <thead>
            <tr>
              <th>Time</th>
              <th>Workshop</th>
              <th>Instructor</th>
              <th>Remark</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>10.15-10.45</td>
              <td colspan="3">Registration</td>
            </tr>
            <tr>
              <td>10.45-11.45</td>
              <td rowspan="2">TARRAXO 2.0 MASTER CLASS</td>
              <td rowspan="2">Said&Oksana</td>
              <td rowspan="2"></td>
            </tr>
            <tr>
              <td>11.45-12.45</td>
            </tr>
            <tr>
              <td>12.45-13.45</td>
              <td>Body Movement</td>
              <td>Quinn</td>
              <td></td>
            </tr>
            <tr>
              <td>13.45-14.45</td>
              <td>Urban Kiz (100% Step)</td>
              <td>Heneco</td>
              <td rowspan="3">Day Time Social (Hall 2)<br />13.30 - 16.30</td>
            </tr>
            <tr>
              <td>14.45-15.30</td>
              <td colspan="2">Lunch Break (45min)</td>
            </tr>
            <tr>
              <td>15.30-16.30</td>
              <td>Kizomba Fusion</td>
              <td>Dave Davis</td>
            </tr>
            <tr>
              <td>16.30-17.30</td>
              <td>Tarraxinha vs Douceur vs Tarraxo</td>
              <td>David Cohen</td>
              <td></td>
            </tr>
            <tr>
              <td>17.30-18.30</td>
              <td>Tarraxo Liquidstyle</td>
              <td>Rvan&Juliette</td>
              <td></td>
            </tr>
            <tr>
              <td>18.30-19.30</td>
              <td>Afro groove & choreo (Azonto to the World)</td>
              <td>AfroGiants</td>
              <td></td>
            </tr>
            <tr>
              <td>22.00-03.00</td>
              <td colspan="2">Party - "Y2K" Theme</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style scoped>
  main {
    color: white;
  }
  h2 {
    margin: 0;
    padding-top: calc(var(--lg-padding) * 2);
    padding-bottom: calc(var(--m-padding) * 2);
  }
  .content h2:first-of-type {
    padding-top: 0;
  }
  table {
    width: 100%;
    border-spacing: 0;
  }
  tbody:before {line-height:1em; content:"\200C"; display:block;}
  table td {
    border: 1px solid rgba(255, 255, 255, 0.75);
    padding: 0.5rem 1rem;
  }
  .content {
    grid-column: span 12;
    align-items: start !important;
    justify-content: start !important;
    padding: var(--lg-padding);
  }
  .caption {

  }
</style>