---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/edition3/Header.astro";
import Footer from "../sections/Footer.astro";
import Card from "../components/Card.astro";
---

<Layout title="Help Center | Afrokiz Bkk Festival Edition 3">
  <Header />
  <main>
    <div class="grid">
      <Card classes={["help-content"]}>
        <h1>Terms & Conditions</h1>
        <div id="transfer" class="container">
          <h2 class="question">Installment Structure</h2>
          <p class="answer">
            A minimum purchase of 160 USD is required to be eligible for the installment plan.
            <br/>The total payment for the festival pass is divided into three equal installments.
            <br/>The first installment (one-third of the total amount) is charged immediately upon purchase.
            <br/>The second installment will be automatically charged on the same date of the following month.
            <br/>The third and final installment will be charged on the same date of the third month.
            <br/>Zero interest applies to all installment payments.
          </p>
        </div>
        <div id="transfer" class="container">
          <h2 class="question">Payment & Authorization</h2>
          <p class="answer">
            By selecting the installment plan, you authorize automatic payments to be charged to your selected payment method.
            <br/>Failure to complete any installment may result in ticket cancellation or restrictions on your festival pass access.
          </p>
        </div>
        <div id="transfer" class="container">
          <h2 class="question">Non-Refundable Policy</h2>
          <p class="answer">
            All payments made under this installment plan are non-refundable.
            <br/>If you fail to complete all three installments, the festival pass may be forfeited, and you will not be eligible for any refund or reinstatement of your pass.
          </p>
        </div>
        <div id="transfer" class="container">
          <h2 class="question">Transferrable Policy</h2>
          <p class="answer">
            After completing your three installments, you may transfer your festival pass to another participant for an additional fee of 30 USD. To initiate the transfer, please email us your festival pass confirmation or your order number.
            <br/>5. Late or Failed Payments:
            <br/>If a payment attempt fails, we will retry the charge the next day.
            <br/>If the payment still fails, we will attempt to charge again after 3 days and once more after 10 days.
            <br/>If the payment remains unsuccessful, it will be considered a default payment, and we will contact you to resolve the issue.
            <br/>You must update your payment method within 7 days to avoid cancellation.
          </p>
        </div>
        <div id="transfer" class="container">
          <h2 class="question">Festival Pass Access</h2>
          <p class="answer">
            The festival pass will be considered fully paid only after the third installment is successfully processed.
          </p>
        </div>
        <div id="transfer" class="container">
          <h2 class="question">Changes & Cancellations</h2>
          <p class="answer">
            Once enrolled in the installment plan, it cannot be canceled or modified</h2>
            <br/>Name changes on festival passes may be subject to additional fees and approval</h2>
          </p>
        </div>
        <div id="transfer" class="container">
          <h2 class="question">Agreement & Acceptance</h2>
          <p class="answer">
            By choosing the installment plan, you agree to these terms and conditions and accept full responsibility for completing the payments.
          </p>
        </div>
      </Card>
    </div>
  </main>
  <Footer />
</Layout>

<style is:global>
  .help-content {
    grid-column: span 12;
    align-items: start !important;
    justify-content: start !important;
    padding: var(--lg-padding);
  }
  .help-content .text {
    display: flex;
    flex-direction: column;
    gap: var(--grid-lg-gap);
  }
  .help-content .grid {
    padding: 0;
  }
</style>

<style>
  a {
    color: white;
    font-weight: bold;
  }
  .container {
    border-radius: 20px;
    background-color: var(--primary-very-dark-color);
    padding: var(--lg-padding);
    display: flex;
    flex-direction: column;
    gap: var(--grid-m-gap);
  }
  .question {}
  .answer {}
</style>